{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- {% for item in grocerylist %}
    <p>
      {{ item.food.name }} {{item.food.price}} {{item.quantity}}
    </p>
    {% endfor %} -->
    
    
   <h1>
     Grocery List
    </h1> 
   <table>
   <tr>
     <th>Food Item</th>
     <th>Price</th> 
     <th>Quantity</th> 
   </tr>
   {% for item in grocerylist %}
   <tr>
       <td>{{item.food.name}}</td>
       <td>{{item.food.price}}</td>
        <td>{{item.quantity}}</td>
   </tr>
   {% endfor %}
</table>
    
    
       <h1>
     Pantry List
    </h1> 
   <table id="PantryTable">
   <tr>
     <th>Food Item</th>
     <th>Quantity</th> 
   </tr>
   {% for item in pantrylist %}
   <tr>
       <td>{{item.food.name}}</td>
        <td>{{item.quantity}}</td>
   </tr>
   {% endfor %}
</table>
    
<!--     <textarea name="textarea" rows="10" cols="10">"Food"</textarea>
    <textarea name="comment" rows="10" cols="10">"Quantity"</textarea>
    <button type="button" class="btn btn-light" onclick="uploadgrocery()">Add to grocery list</button>
    <button type="button" class="btn btn-light" onclick="uploadpantry()">Add to pantry list</button> -->
    
    <input type="text"></input>
    <button id="testbutton" class="btn  btn-default">
      submit
    </button>
    <br>
  
    <input id="groceryFood" type="text" placeholder="Food Item"></input>
    <input id="groceryQuantity" type="text" placeholder="Quantity"></input>
    <button id="grocerySubmit" class="btn  btn-default">
      Add to Grocery List
    </button>
<br>
<br>
    <input id="pantryFood" type="text" placeholder="Food Item"></input>
    <input id="pantryQuantity" type="text" placeholder="Quantity"></input>
    <button id="pantrySubmit" class="btn  btn-default">
      Add to Pantry List
    </button>
  
    
    
 
	</body>
  <script>
//       var table = document.getElementById("PantryTable");
//       function uploadpantry() {
//       var row = table.insertRow(1);
//       var cell1 = row.insertCell(0);
//       var cell2 = row.insertCell(1);
//       console.log($("comment").val())
//       cell1.innerHTML = $("textarea").val();
//       cell2.innerHTML = "3";
//     }
    
    //sample from slide
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
    $("#testbutton").button().click(function (event){
      let postdata = {
        'name': $("input").val(),
      };
      $.ajax({
        url:"/life/",
        method:"POST",
        headers:{"X-CSRFToken": csrftoken},
        data:JSON.stringify(postdata),
        contentType:"application/json",
        dataType:"json"
      });
      });
    
    $("#grocerySubmit").button().click(function (event){
      let grocerydata = {
        'food': $("#groceryFood").val(),
        'quantity': $('#groceryQuantity').val()
      };
      $.ajax({
        url:"/life/",
        method:"POST",
        headers:{"X-CSRFToken": csrftoken},
        data:JSON.stringify(grocerydata),
        contentType:"application/json",
        dataType:"json"
      });
      });
    
    
    
    
    
    
  </script>
</html>